[req]
distinguished_name = req_dn
x509_extensions = v3_req
prompt = no

[req_dn]
C = Country
ST = State
L = City
O = Org
OU = Unit
CN = minio

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 127.0.0.1
DNS.1 = localhost
DNS.2 = minio
DNS.3 = trino
